.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.flagContainer{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-flow: column;
}

.flagTitle{
    align-self: center;
}

img{
    width: 460px;
    aspect-ratio: 16/9;
    align-self: center;
}